.activity {
  .username,
  .project,
  .branch-name,
  .issue-number,
  .pr-number {
    color: $primary-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .username {
    .avatar {
      height: 20px;
      vertical-align: bottom;
      margin-right: 4px;
      border-radius: 50%;
    }
  }

  .activity-header {
    border-bottom: 1px solid #ddd;

    .time {
      float: right;
      padding-right: 2px;
      color: #888;
    }
  }

  .activity-content {
    border: 1px solid #e5e5e5;

    & > .activity-header,
    & > .activity-description {
      padding: 8px;
    }
  }

  .activity-description {
    background: $alternate-background;
    color: #666;

    .commit-info {
      margin-bottom: 4px;

      .sha,
      .author,
      .message {
        display: inline-block;
        width: 15%;
      }

      .message {
        width: 70%;
      }
    }

    .pr-info {
      .action {
        display: inline-block;
        width: 15%;
        text-transform: uppercase;
      }

      .title {
        display: inline-block;
        width: 85%;
      }

      .stats {
        color: #999;
      }

      & > div {
        margin-bottom: 8px;
      }
    }
  }

  &:nth-last-child(2) .activity-logo-vline {
    display: none;
  }
}
