* {
  box-sizing: border-box;

  // Remove later
  transition: all 0.3s linear, font-size 1ms;
}

html {
  margin: 0px auto;
  height:100%;
//  background: #f9f5f0;
}

body {
  height: 100%;
  margin: 0px;
  font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4c4c4c;
  line-height: 1.428571429;
  font-size: 14px;
}

header {
  background: #f9f5f0;
  color: #f39020;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #f39020;
  z-index: 100;

  .header-title {
    font-weight: bold;
    font-family: 'whois', 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    font-size: 1.6em;
    padding: 1px 12px;

    svg {
      height: 30px;
      padding: 3px;
      padding-right: 8px;
    }

    span, a {
      height: 31px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .header-links {
    float: right;

    .header-link {
      display: inline-block;
    }

    & > * {
      padding: 7px 12px;
    }
  }
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa {
  color: #f39020;
}

.cf:after {
  content: '';
  display: table;
  clear: both;
}

.routerView {
  margin-top: 35px !important;
}

.routerView,
header > div {
  max-width: 1080px;
  margin: 0 auto;
}
