* {
  box-sizing: border-box;

  // Remove later
  transition: all 0.3s linear, font-size 1ms;
}

html {
  margin: 0 auto;
  height:100%;
//  background: #f9f5f0;
}

body {
  height: 100%;
  margin: 0px;
  font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #4c4c4c;
  line-height: 1.428571429;
  font-size: 14px;
  background: #EDF3FC;
}

header {
  background: #2E3B4F;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #4AD76B;
  z-index: 100;
  padding: 5px 0;

  .header-title {
    font-family: 'Viga', 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    font-size: 1.6em;
    padding: 1px 12px;

    svg {
      height: 30px;
      padding: 3px;
      padding-right: 8px;
    }

    span, a {
      height: 31px;
      vertical-align: top;
      display: inline-block;
    }

    span.stream {
      letter-spacing: 0.2px;
      color: #4AD76B;
    }

    span.dev {
      color: #eee;
      letter-spacing: 0.2px;
    }
  }

  .header-links {
    float: right;

    .header-link {
      display: inline-block;
    }

    .header-login-link {
      margin-top: 5px;
    }
  }
  .header-user {
    cursor: pointer;
    position: relative;
    min-width: 100px;

    .header-user-img {
      height: 30px;
      width: 30px;
      display: inline-block;

      /* for default image */
      text-align: center;
      font-size: 25px;
      line-height: 30px;
    }

    .header-user-name {
      display: inline-block;
      vertical-align: top;
      margin: 5px 0px 0px 5px;
    }

    .header-user-links {
      position: absolute;
      width: 100%;
      background: antiquewhite;
      border: 1px solid burlywood;
      margin-top: 5px;

      .header-user-link {
        padding: 5px 10px;
        border-bottom: 1px solid burlywood;
      }

      .header-user-link:last-child {
        border-bottom: none;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa {
  color: #4AD76B;
}

.cf:after {
  content: '';
  display: table;
  clear: both;
}

.routerView {
  margin-top: 45px !important;
}

.routerView,
header > div {
  max-width: 1080px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
