.activities {
  display: inline-block;
  width: calc(100% - 216px);
  height: calc(100vh - 35px);
  padding: 24px 12px;

  .activity {
    position: relative;
    padding-bottom: 15px;

    .activity-logo {
      width: 60px;
      height: 100%;
      position: absolute;
      overflow: hidden;
      line-height: 36px;
      text-align: center;
      font-size: 32px;
      
      .activity-logo-image {
        height: 36px;
        width: 36px;
        margin-left: 10px;
        border-radius: 50%;
        position: relative;
        z-index: 10;
        background: #f9f5f0;
      }
      .activity-logo-vline {
        position: absolute;
        left: 25px;
        top: 0;
        height: 100%;
        width: 6px;
        background: #f9f5f0;
      }
      .activity-logo-hline {
        position: absolute;
        left: 30px;
        top: 15px;
        height: 8px;
        width: 100%;
        background: #f9f5f0;
      }
    }
    .activity-content {
      background: white;
      border-radius: 2px;
      margin-left: 60px;
      background: #f9f5f0;

      .activity-header,
      .activity-description {
        padding: 10px;
      }

      .activity-header {
        color: #7f3f6a;
        cursor: pointer;

        &:hover {
          color: #4c263f;
        }
      }
    }
  }
}

.trending-projects {
  display: inline-block;
  padding: 12px;
  width: 216px;
  height: calc(100vh - 35px);
  vertical-align: top;
  position: fixed;
  background: #f9f5f0;
  border-left: 1px solid #efe8dc;
  color: #7f3f6a;

  .trending-projects-title {
    padding: 4px 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #efe8dc;
    font-weight: bold;
  }
  .trending-project {
    padding: 0 12px;
    cursor: pointer;
    margin-bottom: 5px;

    &:hover {
      color: #f39020;
      background: #fff;
    }
  }
}
