.activities {
  display: inline-block;
  width: calc(100% - 216px);
  height: calc(100vh - 35px);
  padding: 12px;

  .activity {
    position: relative;
    padding-bottom: 15px;

    .activity-logo {
      width: 60px;
      height: 100%;
      position: absolute;
      overflow: hidden;
      line-height: 36px;
      text-align: center;
      font-size: 32px;
      
      .activity-logo-image {
        height: 36px;
        width: 36px;
        margin-left: 10px;
        border-radius: 50%;
        position: relative;
        z-index: 10;
        background: #f9f5f0;
      }
      .activity-logo-vline {
        position: absolute;
        left: 25px;
        top: 0;
        height: 100%;
        width: 6px;
        background: #f9f5f0;
      }
      .activity-logo-hline {
        position: absolute;
        left: 30px;
        top: 15px;
        height: 8px;
        width: 100%;
        background: #f9f5f0;
      }
    }
    .activity-content {
      background: white;
      border-radius: 2px;
      margin-left: 60px;
      background: #f9f5f0;

      .activity-description {
        padding: 10px;
        margin-top: 10px;
      }

      .activity-header {
        color: #7f3f6a;
        cursor: pointer;
        padding-left: 4px;

        &:hover {
          color: #4c263f;
        }
      }
    }
  }
}

.load-more {
  width: 100px;
  padding: 5px 0;
  background: #f39020;
  text-align: center;
  color: white;
  margin: 0 auto 15px auto;
  cursor: pointer;
}

.sidebar {
  display: inline-block;
  padding: 12px;
  width: 216px;
  height: calc(100vh - 35px);
  vertical-align: top;
  position: fixed;
  //background: #f9f5f0;
  //border-left: 1px solid #efe8dc;
}

.trending-projects,
.trending-users,
.trending-topics {
  color: #7f3f6a;
  border-radius: 2px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  //background: #fff;
  background: #f9f5f0;

  .title {
    padding: 8px 12px;
    margin-bottom: 4px;
    color: #4c263f;
    font-weight: bold;
  }
  
  .project,
  .user,
  .topic {
    padding: 0 12px;
    cursor: pointer;
    margin-bottom: 5px;

    &:hover {
      color: #f39020;
      background: #fff;
    }
  }
}
